
<div class="row">
        <h2><%= event.name %></h2>
          <div class="col-md-6">
          <ul>
            <li>location: <%= event.location %></li>
            <li>when: <%= event.event_time %></li>
            <li>description: <%= event.description if event.description%></li>
            <li>Per Person Cost: <%= event.cost_per_person if event.cost_per_person%></li>
            <li>Flat cost: <%= event.flat_cost if event.flat_cost%></li>

            <% if event.tags %>
            <li>Tags: <ul><% event.tags.each do |tag| %>
              <li><%= link_to tag.name, controller: "events", tag: "#{tag.name.downcase}" %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= submit_tag "View details>>", class:"btn btn-default", role:"button"  %>
    </div>


</ul>
