<div class="row">
        <h2><%= link_to_if event.name, event.name, event_path(event) %></h2>
          <div class="col-md-6">
          <ul>
            <li>location: <%= event.location if event.location%></li>
            <li>when: <%= event.event_time if event.event_time%></li>
            <li>description: <%= event.description if event.description%></li>
            <li>Per Person Cost: <%= event.cost_per_person if event.cost_per_person%></li>
            <li>Flat cost: <%= event.flat_cost if event.flat_cost%></li>

            <% if event.tags %>
            <li>Tags: <ul><% event.tags.each do |tag| %>
              <li><%= link_to tag.name, controller: "events", tag: "#{tag.name.downcase}" %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= submit_tag "View details>>", class:"btn btn-default", role:"button"  %>
    </div>


<br><br>

    <% if @user != nil %>

          <% if @user.is_the_user_a_host(@event) %>
              You are the host!
            <%= link_to "Edit the event", edit_event_path %>

          <% elsif @user.is_the_user_an_attendee(@event) %>
            <p>You are planning on attending this event!</p>

          <% else %>

                <%= form_tag(attend_path, method: 'GET') do %>
                  <p><%= label_tag "Would you like to attend?" %>
                      <%= hidden_field_tag :user_id, @user.id %>
                      <%= hidden_field_tag :event_id, @event.id %>
                <%= submit_tag "Attend!" %></p>
                <% end %>
          <% end %>
    <% elsif !user_signed_in?  %>

        <%= link_to('Login', new_user_session_path)  %>


    <% end %>


</ul>
