<p><%= event.name if event.name %></p>
<p>location:<%= event.location if event.location%></p>
<p>when: <%= event.event_time if event.event_time%></p>
<p>description:<%= event.description if event.description%></p>
<p>Per Person Cost<%= event.cost_per_person if event.cost_per_person%></p>
<p>Flat cost:<%= event.flat_cost if event.flat_cost%></p>
