<h1>Tell us the deets...</h1>
<%= form_for @event do |f| %>
  <p><%= f.label :name %>
  <%= f.text_field :name, value: @name %></p>
  <p><%= f.label :location %>
  <%= f.text_field :location %></p>
  <p><%= f.label :event_time %>
  <%= f.text_field :event_time %></p>
  <p><%= f.label :description %>
  <%= f.text_area :description %></p>
  <p><%= f.label :minimum_attendees %>
  <%= f.text_field :minimum_attendees %></p>
  <p><%= f.label :flat_cost %>
  <%= f.text_field :flat_cost %></p>
  <p><%= f.label :cost_per_person %>
  <%= f.text_field :cost_per_person %></p>
  <p><%= f.label :signup_deadline %>
  <%= f.text_field :signup_deadline %></p>
  <%= f.hidden_field :user_id, value: 1 %>

  <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
  <p><%= f.submit %>
<% end %>
