<div class="center jumbotron">
  <h1>Get started with your Event!</h1>
<%= form_tag(new_event_path, method: 'GET') do %>
  <p><%= label_tag "Create a new event:" %>
  <%= text_field_tag :name, "enter your event here"%>
<%= submit_tag "Let's go", class: "btn btn-primary btn-lg", role: "button" %></p>
<% end %>

</div>

<br><br>
<h2>Here's upcoming events for you to enjoy:</h2>


<%= render partial: "events/snapshot", locals: { events: @events} %>
