<div class="container">
  <div class="row homepage-events">

    <div class="col-sm-2">
    </div>

    <div class="col-sm-10">
    <%= flash[:notice] %><br>
    
      <% unless params[:query].present? || params[:tags].present? %>
        <div class="row">
          <%= form_tag events_path, {method: 'GET', class: "form-group col-xs-2 col-xs-6"} do %>
           <h3>Find an Event<br><%= text_field_tag :query %>
            <%= submit_tag 'Go', class: "btn-beyonce-primary searchtext"%></h3> 
          <% end %><br>
        </div>
        <div class="row">
          <%= form_tag events_path, {method: 'GET', class: "form-group col-xs-2 col-xs-8"} do |f|%>
            <%= collection_check_boxes(nil, :tags, Tag.all, :name, :name) %>
            <%= submit_tag 'Filter', class: "btn-beyonce-primary" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div><br>

  <div class="row">
    <div class="col-sm-2">
    </div>

    <div class="col-sm-9">
      <h3> Upcoming Events</h3><br>
      <%= render partial: "events/snapshot", collection: @events, :as => :event %>
    </div>
  </div>
</div>

