
<div class="container text-center">
  <div class="container text-left">

  <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="row">
      <fieldset class="form-group col-xs-2 col-xs-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </fieldset>
    </div>

    <div class="row">
      <fieldset class="form-group col-xs-2 col-xs-3">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </fieldset>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="row">
        <fieldset class="form-group col-xs-2 col-xs-3">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </fieldset>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class:"btn-beyonce-primary btn-info" %>
    </div><br>

<% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
